<%= turbo_frame_tag "#{dom_id(chat)}_message_form" do %>
  <%= form_with(model: chat.messages.new, url: [chat, chat.messages.new]) do |form| %>
    <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
      <div class="input-group mb-0">
        <%= form.text_field :content, class: "form-control" %>
        <%= form.button type: :submit, class: "btn btn-warning", style: "padding-top: .55rem;" do %>
          <i class="fas fa-paper-plane"></i>
          <span class="pl-2">Send</span>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
