<div id="<%= dom_id container %>">
  <p>
    <strong>Name:</strong>
    <%= container.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= container.description %>
  </p>

  <p>
    <strong>Factory:</strong>
    <%= container.factory_id %>
  </p>

</div>
