<h1>Editing container</h1>

<%= render "form", container: @container %>

<br>

<div>
  <%= link_to "Show this container", [@factory, @container] %> |
  <%= link_to "Back to factory", @factory %>
</div>
