<%= form_with(model: @text, url: chat_data_sources_texts_path(@chat.id) ) do |form| %>
  <div class="mb-3 row">
    <%= form.label :content, class: "cold-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_area :content, class: "form-control" %>
    </div>
  </div>

  <div class="grid justify-items-end">
    <%= form.button type: :submit, class: "btn btn-primary" do %>
      <i class="fas fa-paper-plane"></i>
      <span class="pl-2">Add</span>
    <% end %>
  </div>
<% end %>
