@import "bootstrap";

@import "fullscreen";

.chat-body {
  position: relative; 
  height: 400px; 
  overflow-y: auto; 
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;

  & > div:last-child {
    scroll-snap-align: start;
  }
}
